/*The overall style for the navigation bar */
.topnav {
  background-color: #474747;
  overflow: hidden;
  border-radius: 6px;
}

/*This style defines the look of each link withing the nav bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  background-color: #474747;
  font-family: "Verdana", sans serif;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}

/*This is the hover function and style for the nav bar */
.topnav a:hover {
  background-color: #592d80;
  color: #fff785;
  border-radius: 6px;
  }

 .body {
   background-color: #122c6e;
   font-family: "Helvetica", sans serif;
 }

/*This is the main style used for all titles */
 .title {
     color: #592d80;
     font-family: "Verdana", sans serif;
     font-size: 17px;
     margin-left: 30px;
     margin-right: 30px;
     margin-top: 30px;
     margin bottom: 30px;
     padding: 10px;
   }

/*This is the div created specifically for the transition on the title of AIprojectbad.html, it is a normal title div with height, width, and transition. */
   .transition {
     width: 800px;
     transition: 5s;
     color: #592d80;
     font-family: "Verdana", sans serif;
     font-size: 17px;
     margin-top: 30px;
     /*margin-left: 30px;
     margin-right: 30px;
     margin bottom: 30px;
     padding: 10px;*/
     height: 120px;
     align: left;
   }

/*This is the hover funtion for the title transition above, this is what the title transforms into. It changes colors, sizes, and the corners round. */
   .transition:hover {
     width: 870px;
     color: #fff785;
     background-color: #592d80;
     border-radius: 6px;
     height: 120px;
   }
/*this is just the main style for the sections of text, it is identical to .mainrow2 except for placement */
 .mainrow {
   float: center;
   width: 96%;
   background-color: #d4d4d4;
   color: #474747;
   font-family: "Verdana", sans serif;
   margin-left: 15px;
   margin-right: 15px;
   font-size: 15;
   margin-top: 30px;
   margin bottom: 30px;
   padding: 15px;
   border-radius: 5px;
   border-style: solid;
   border-color: #fff785;
 }

 .mainrow2 {
   float: center;
   width: 96%;
   background-color: #d4d4d4;
   color: #474747;
   font-family: "Verdana", sans serif;
   margin-left: 15px;
   margin-right: 15px;
   font-size: 15;
   margin-top: 30px;
   margin bottom: 30px;
   padding: 15px;
   border-radius: 5px;
   border-style: solid;
   border-color: #fff785;
 }

/*This div simply makes all <a> links the same color as the normal text, a dark grey color.  */
 a {
   color: #474747;
 }

 /*this is the animation for webpage title images other than Home!!wooo!*/
 .title {
  animation-name: test1;
  animation-duration: 3s;
}

/*This is the code for the boucing animation, it is used on most of the titles. */
@keyframes test1 {
  0% {transform: scale(0.1);}
  10% {transform: scale(0.7);}
  20% {transform: scale(1.0);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1.0);}
}
  .mainrow2 {
    animation-name: pic-slide;
    animation-duration: 2s;
  }
@keyframes mainrow2 {
  0% {transition: }
  10% {transition: }
  20% {transition: }
  50% {transition: }
  100% {transition: }

}

/*Thia div is used to define the animation that moves the first picture back and forth, the picture is the background image. */
  .picmove {
    background-image: url('robot.png');
    width: 700px;
    height: 550px;
    animation-name: picmove;
    animation-duration: 4s;
    position: relative;
  }

/*This is the code for the first picture move animation, it simply moves the image/div back and forth */
@keyframes picmove {
  0% {left: 0px;}
  50% {left: 60px;}
  100% {left: 0px;}
}

/*Thia div is used to define the animation that moves the second picture back and forth, the picture is the background image. */
  .picmove2 {
    background-image: url('beePic.png');
    width: 680px;
    height: 350px;
    animation-name: picmove;
    animation-duration: 6s;
    position: relative;
  }

/*This is the code for the second picture move animation, it simply moves the image/div back and forth */
@keyframes picmove2 {
  0% {left: 0px;}
  50% {left: 280px;}
  100% {left: 0px;}
}
